<p>Please fill out the following information</p>
<hr>

<%= form_for @group do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit "Register Group" %><br>
<%end%>