<div>
    <div class = "row">
<% if @error %>
    <p><%= @error %></p>
<%end%>

<%= form_tag "/submit_log_in_form", {:class => "position-relative d-block form" } do%>
<p class = "text-center" style = "font-weight:bold; font-size:23px; margin: 10px;"> Sign up or Log in </p>
<%= label_tag :username%>:
<%= text_field_tag :username%> <br><br>
<%= label_tag :password%>:
<%= password_field_tag :password%><br><br>
<%= submit_tag "Log in", {:class => "submit-btn"}%>
<%end%>
    <%= link_to '<button class = "route-btns btn btn-secondary rounded-left">Register New User</button>'.html_safe, new_user_path %>

    <%= link_to '<button class = "route-btns btn-secondary rounded-left">Register New Group</button>'.html_safe, new_group_path %>

    </div>
</div>