<h1> This is the Log in Page </h1>

<% if @error %>
    <p><%= @error %></p>
<%end%>



<%= form_tag "/submit_log_in_form" do%>
<%= label_tag :username%>
<%= text_field_tag :username%>
<%= label_tag :password%>
<%= password_field_tag :password%>
<%= submit_tag "Log in"%>
<%end%><br>

<hr>

<%= link_to '<button>Register New User</button>'.html_safe, new_user_path %><br><br>
<%= link_to '<button>Register New Group</button>'.html_safe, new_group_path %>