<h1>Hello, <%= @current_user.full_name%></h1>



<%= link_to '<button>Lookup Events</button>'.html_safe, events_path %>
<%= link_to '<button>Look at Your Events</button>'.html_safe, user_events_path%>
<%= link_to '<button>Register For Event</button>'.html_safe, new_user_event_path %>
<%= link_to '<button>Your Profile</button>'.html_safe, edit_user_path(@current_user) %>
