<h1> <%= link_to @userevent.event_name, group_path(@group) %> </h1>

<ul>
<li> <%=@userevent.event.date_and_time %> </li>
<li> <%=@userevent.event.price %> dollars</li>
<li> <%=@userevent.event.venue %> </li>
</ul>

<%=button_to "Delete Event", delete_user_event_path(@userevent), method: :delete %>
<%=button_to "Back to Your Events", user_events_path, method: :get %>
