<!DOCTYPE html>
<html>
  <head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>EventUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if check_current_user_logged_in?%>
    <div id = "logged-in"> 
      Logged In: <%= @current_user.first_name%> 
    </div>
    <div id = "logged-out" style="padding:10px;"> <%= link_to '<button>Login Out</button>'.html_safe, logout_path %>
  <%else %>
      <div>
        <p style= "color:red;"> You are not Logged in</p>
      </div>
  <%end%>
    <%= yield %>
  </body>
</html>


<%button_to "Logout", logout_path, method: :delete %>